.initial-container {
  min-height: 100vh;
}
.initial-initial {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.initial-i-m-a-g-e1481196340multiplayergames1 {
  top: 236px;
  left: 230px;
  width: 980px;
  height: 551px;
  position: absolute;
  border-color: transparent;
}
.initial-i-m-a-g-e5403411 {
  top: 0px;
  left: -146px;
  width: 2211px;
  height: 1104px;
  position: absolute;
  border-color: transparent;
}
.initial-rectangle1 {
  top: 194px;
  left: 242px;
  width: 1435px;
  height: 692px;
  position: absolute;
  border-color: transparent;
}
.initial-text-info {
  top: 223px;
  left: 992px;
  width: 652px;
  height: 581.3892822265625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.initial-ellipse2 {
  top: 144.3892822265625px;
  left: 197.5px;
  width: 455px;
  height: 437px;
  position: absolute;
  border-color: transparent;
}
.initial-ellipse1 {
  top: 0px;
  left: 0px;
  width: 440px;
  height: 437px;
  position: absolute;
}
.initial-ellipse4 {
  top: 142.93731689453125px;
  left: 197.58441162109375px;
  width: 258px;
  height: 295px;
  opacity: 0.50;
  position: absolute;
}
.initial-text {
  top: 71px;
  left: 65px;
  color: rgba(45, 34, 121, 1);
  width: 327px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Russo One;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-text05 {
  top: 319px;
  color: rgb(217, 217, 217);
  right: 5px;
  width: 365px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Russo One;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-text17 {
  top: 231px;
  left: 219px;
  color: rgba(0, 0, 0, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Russo One;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-title {
  top: 283px;
  left: 106px;
  width: 860px;
  height: 453px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.initial-text19 {
  top: 144px;
  left: 10px;
  color: rgb(217, 217, 217);
  width: 700px;
  height: auto;
  position: absolute;
  font-size: 200px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Russo One;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-text20 {
  color: #d9d9d9;
}
.initial-text22 {
  left: -6px;
  color: rgba(217, 217, 217, 1);
  width: 783px;
  height: auto;
  position: absolute;
  font-size: 200px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Russo One;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-text23 {
  color: rgba(217, 217, 217, 1);
}
.initial-text25 {
  top: 287px;
  left: 10px;
  color: rgba(217, 217, 217, 1);
  width: 850px;
  height: auto;
  position: absolute;
  font-size: 200px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Russo One;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-text26 {
  color: rgba(217, 217, 217, 1);
}
.initial-framemodernlarge-base {
  top: 755px;
  left: 395px;
  width: 201px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  box-shadow: 0px 4px 12px 0px rgba(217, 217, 217, 0.20000000298023224) ;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 1);
}
.initial-framemodernlarge-base:hover{
  border-style: solid;
  border-width: 4px;
  border-color:rgba(45, 34, 121, 1);
  border-radius: 8px;
}
.initial-content {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.initial-text28 {
  color: rgba(45, 34, 121, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-iconlarge {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.initial-icon {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.initial-framemodernlarge-base1 {
  top: 755px;
  left: 720px;
  width: 184px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  box-shadow: 0px 4px 12px 0px rgba(217, 217, 217, 0.20000000298023224) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 1);
}
.initial-framemodernlarge-base1:hover{
  border-style: solid;
  border-width: 4px;
  border-color:rgba(45, 34, 121, 1);
  border-radius: 8px;
}

.initial-content1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.initial-text30 {
  color: rgba(45, 34, 121, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-iconlarge1 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.initial-icon1 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.initial-rectangle2 {
  top: 1031px;
  left: -17px;
  width: 1937px;
  height: 49px;
  position: absolute;
  border-color: transparent;
}
.initial-text32 {
  top: 1040px;
  left: 872px;
  color: rgba(37, 98, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Tiro Bangla;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.initial-text32:hover{
  color: rgba(217, 217, 217, 1);
}
.titlecolor{
  color:rgba(45, 34, 121, 1);
}
.smallsplace{
  font-size: 2px;
  color: transparent;
}