.initial-container {
  width: 100%;
  height: 100%;
}
.initial-i-m-a-g-e5403411 {
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-color: transparent;
}
.initial-rectangle1 {
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  position: absolute;
  border-color: transparent;
}
.initial-rectangle11 {
  width: 100%;
  height: 100%;
  border-color: transparent;
}
.initial-text-info {
  padding-top: 10%;
  padding-left: 10%;
  width: 35%;
  height: 50%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.initial-ellipse2 {
  top: 80px;
  left: 37%;
  width: 60%;
  height: 85%;
  position: absolute;
  border-color: transparent;
}
.initial-ellipse1 {
  top: -5px;
  left: -10px;
  width: 85%;
  height: 85%;
  position: absolute;
}
.initial-ellipse4 {
  top: 69px;
  left: 87px;
  width: 64%;
  height: 64%;
  opacity: 0.50;
  position: absolute;
}
.initial-text {
  top: 20px;
  left: 50px;
  color: rgba(45, 34, 121, 1);
  width: 70%;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Russo One;
  font-weight: 400;
  line-height: 25px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-text05 {
  top: 160px;
  left: 250px;
  color: rgb(217, 217, 217);
  right: 5px;
  width: 365px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Russo One;
  font-weight: 15px;
  line-height: 23px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-text17 {
  top: 130px;
  left: 130px;
  color: rgba(0, 0, 0, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Russo One;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-title {
  top: 15%;
  left: 10.75%;
  width: 40%;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.initial-text19 {
  top: 40%;
  left:10%;
  color: rgba(45, 34, 121, 1);
  width: 700px;
  height: auto;
  position: absolute;
  font-size: 100px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Russo One;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-text20 {
  color: rgb(217, 217, 217);
}
.initial-text22 {
  top: 10%;
  left: 8.5%;
  color: rgb(45, 34, 121);
  width: 783px;
  height: auto;
  position: absolute;
  font-size: 100px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Russo One;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-text23 {
  color: rgba(217, 217, 217, 1);
}
.smallspace{
  font-size: 40px;
}
.initial-text25 {
  top: 70%;
  left: 10%;
  color: #2d2279;
  width: 850px;
  height: auto;
  position: absolute;
  font-size: 100px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Russo One;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-text26 {
  color: rgba(217, 217, 217, 1);
}
.initial-framemodernlarge-base {
  top: calc(100% - 40px - 20%);
  left: 395px;
  width: 201px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  box-shadow: 0px 4px 12px 0px rgba(217, 217, 217, 0.20000000298023224) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 1);
}
.initial-content {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.initial-text28 {
  color: rgba(45, 34, 121, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-iconlarge {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.initial-icon {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.initial-framemodernlarge-base1 {
  top: calc(100% - 40px - 20%);
  left: 720px;
  width: fit-content;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  box-shadow: 0px 4px 12px 0px rgba(217, 217, 217, 0.20000000298023224) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  flex-direction: column;
  background-color: #d9d9d9;
}
.initial-content1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.initial-text30 {
  color: rgba(45, 34, 121, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  text-decoration: none;
}
.initial-iconlarge1 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.initial-icon1 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.initial-rectangle2 {
  top:calc(100% - 40px);
  width: 100%;
  height: 40px;
  position: absolute;
  border-color: transparent;
}
.initial-text32 {
  top: calc(100% - 40px);
  left: 50%;
  color: rgba(37, 98, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Tiro Bangla;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
