.sign-up-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sign-up-signin {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-i-m-a-g-e5403411 {
  top: 0px;
  left: -146px;
  width: 2211px;
  height: 1104px;
  position: absolute;
  border-color: transparent;
}
.sign-up-footnote {
  top: 1031px;
  left: -17px;
  width: 1937px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.sign-up-rectangle2 {
  top: 0px;
  left: 0px;
  width: 1937px;
  height: 49px;
  position: absolute;
  border-color: transparent;
}
.sign-up-text {
  top: 9px;
  left: 889px;
  color: rgba(37, 98, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Tiro Bangla;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.sign-up-text02 {
  top: 9px;
  left: 889px;
  color: rgba(37, 98, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Tiro Bangla;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.sign-up-rectangle1 {
  top: 194px;
  left: 242px;
  width: 1435px;
  height: 692px;
  position: absolute;
  border-color: transparent;
}
.sign-up-title {
  top: 283px;
  left: 106px;
  width: 860px;
  height: 453px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.sign-up-text04 {
  top: 144px;
  left: 10px;
  color: rgba(217, 217, 217, 1);
  width: 592px;
  height: auto;
  position: absolute;
  font-size: 200px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Russo One;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-text05 {
  left: -6px;
  color: rgba(217, 217, 217, 1);
  width: 783px;
  height: auto;
  position: absolute;
  font-size: 200px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Russo One;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-text06 {
  color: rgba(217, 217, 217, 1);
}
.sign-up-text08 {
  top: 287px;
  left: 10px;
  color: rgba(217, 217, 217, 1);
  width: 850px;
  height: auto;
  position: absolute;
  font-size: 200px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Russo One;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-text09 {
  color: rgba(217, 217, 217, 1);
}
.sign-up-rectangle3 {
  top: 257px;
  left: 347px;
  width: 1210px;
  height: 505px;
  position: absolute;
  border-color: transparent;
  border-radius: 47px;
}
.sign-up-rectangle9 {
  top: 323px;
  left: 952px;
  width: 583px;
  height: 72px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.sign-up-rectangle10 {
  top: 505px;
  left: 952px;
  width: 583px;
  height: 72px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
  background-color:white;
}
.sign-up-rectangle11 {
  top: 664px;
  left: 966px;
  width: 260px;
  height: 72px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
  background-color:white;
}
.sign-up-rectangle6 {
  top: 328px;
  left: 400px;
  width: 455px;
  height: 72px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.sign-up-rectangle7 {
  top: 504px;
  left: 400px;
  width: 455px;
  height: 72px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.sign-up-rectangle8 {
  top: 664px;
  left: 400px;
  width: 455px;
  height: 72px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.sign-up-text11 {
  top: 298px;
  left: 412px;
  color: rgba(45, 34, 121, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-text13 {
  top: 296px;
  left: 973px;
  color: rgba(45, 34, 121, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-text15 {
  top: 477px;
  left: 973px;
  color: rgba(45, 34, 121, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-text17 {
  top: 635px;
  left: 973px;
  color: rgba(45, 34, 121, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-text19 {
  top: 474px;
  left: 412px;
  color: rgba(45, 34, 121, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-text21 {
  top: 635px;
  left: 412px;
  color: rgba(45, 34, 121, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Istok Web;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-frameiconchevronbottom {
  top: 532px;
  left: 1449px;
  width: 63px;
  height: 16px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.sign-up-vector {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 16px;
  position: absolute;
}
.sign-up-framemodernlarge-base {
  top: 781px;
  left: 855px;
  width: 201px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  box-shadow: 0px 4px 12px 0px rgba(217, 217, 217, 0.20000000298023224) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 1);
}
.sign-up-content {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.sign-up-text23 {
  color: rgba(45, 34, 121, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-iconlarge {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.sign-up-icon {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.sign-up-framemodernlarge-base1 {
  top: 668px;
  left: 1244px;
  width: 81px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  box-shadow: 0px 4px 12px 0px rgba(45, 34, 121, 0.20000000298023224) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(45, 34, 121, 1);
}
.sign-up-content1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  width: 48px;
}
.sign-up-text25 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-framemodernlarge-base1:hover{
  background-color: rgba(217, 217, 217, 1);
  border-width: 4px;
  border-color:rgba(45, 34, 121, 1);
  border-radius: 8px;
}
.sign-up-framemodernlarge-base1:hover .sign-up-text25{
  color: rgba(45, 34, 121, 1);
}
.sign-up-framemodernlarge-base:hover{
  border-style: solid;
  border-width: 4px;
  border-color:rgba(45, 34, 121, 1);
  border-radius: 8px;
}
