.addgame-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  visibility: hidden;
}
.addgame-component20 {
  width: 100%;
  height: 450px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  position: absolute;
  top: 373px;
  left: 1000px;
  z-index: 1000;
}
.addgame-rectangle110 {
  top: 0px;
  left: 99px;
  width: 396px;
  height: 450px;
  position: absolute;
  border-color:rgba(45, 34, 121, 1);
  border-radius: 20px;
  border-width: 5px;
}
.addgame-text {
  top: 90px;
  color: rgba(45, 34, 121, 1);
  width: 288px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addgame-text02 {
  top: 225px;
  left: 24px;
  color: rgba(45, 34, 121, 1);
  width: 288px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addgame-framemodernlarge-base {
  top: 346px;
  left: 230px;
  width: auto;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  box-shadow: 0px 4px 12px 0px rgba(45, 34, 121, 0.20000000298023224) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(45, 34, 121, 1);
}
.addgame-framemodernlarge-base:hover {
  background-color:rgba(217, 217, 217, 1);
  border-color: rgba(45, 34, 121, 1);
  border-radius: 8px;
  border-width: 5px;
}
.addgame-framemodernlarge-base:hover .addgame-text04{
  color:rgba(45, 34, 121, 1);
}
.addgame-content {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.addgame-text04 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addgame-rectangle6 {
  top: 115px;
  left: 110px;
  width: 374px;
  height: 46px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.addgame-rectangle111 {
  top: 253px;
  left: 110px;
  width: 374px;
  height: 46px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.addgame-vector2 {
  top: 125px;
  left: 426.5px;
  width: 38px;
  height: 30px;
  position: absolute;
}
.addgame-gameuplay {
  width: 100%;
  height: 235px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  left: 1110px;
  top: 490px;
  z-index: 1000;
  visibility: hidden;
}
.addgame-rectangle12 {
  top: 0px;
  left: 0px;
  width: 374px;
  height: 45px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px 20px 0 0;
}
.addgame-rectangle14 {
  top: 45.4838752746582px;
  left: 0px;
  width: 374px;
  height: 45px;
  position: absolute;
  border-color: transparent;
}
.addgame-rectangle16 {
  top: 136.4516143798828px;
  left: 0px;
  width: 374px;
  height: 45px;
  position: absolute;
  border-color: transparent;
}
.addgame-rectangle17 {
  top: 136.4516143798828px;
  left: 0px;
  width: 374px;
  height: 45px;
  position: absolute;
  border-color: transparent;
}
.addgame-rectangle15 {
  top: 90.9677505493164px;
  left: 0px;
  width: 374px;
  height: 45px;
  position: absolute;
  border-color: transparent;
}
.addgame-rectangle18 {
  top: 181.9355010986328px;
  left: 0px;
  width: 374px;
  height: 45px;
  position: absolute;
  border-color: transparent;
}
.addgame-rectangle19 {
  top: 227.4193572998047px;
  left: 0px;
  width: 374px;
  height: 45px;
  position: absolute;
  border-color: transparent;
}
.addgame-rectangle171 {
  top: 272.9032287597656px;
  left: 0px;
  width: 374px;
  height: 45px;
  position: absolute;
  border-color: transparent;
  border-radius: 0 0 20px 20px;
}
.addgame-checkboxset {
  top: 58.75px;
  left: 14.113207817077637px;
  width: 17px;
  height: 17.05645179748535px;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(244, 244, 244, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.addgame-checkboxset1 {
  top: 104.23387145996094px;
  left: 14.113207817077637px;
  width: 17px;
  height: 17.05645179748535px;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(244, 244, 244, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.addgame-checkboxset2 {
  top: 58.75px;
  left: 14.113207817077637px;
  width: 17px;
  height: 17.05645179748535px;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(244, 244, 244, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.addgame-checkboxset3 {
  top: 150.34945678710938px;
  left: 14.113207817077637px;
  width: 17px;
  height: 17.05645179748535px;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(244, 244, 244, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.addgame-checkboxset4 {
  top: 58.75px;
  left: 14.113207817077637px;
  width: 17px;
  height: 17.05645179748535px;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(244, 244, 244, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.addgame-checkboxset5 {
  top: 195.2016143798828px;
  left: 14.113207817077637px;
  width: 17px;
  height: 17.05645179748535px;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(244, 244, 244, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.addgame-checkboxset6 {
  top: 195.2016143798828px;
  left: 14.113207817077637px;
  width: 17px;
  height: 17.05645179748535px;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(244, 244, 244, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.addgame-checkboxset7 {
  top: 287.43280029296875px;
  left: 14.113207817077637px;
  width: 17px;
  height: 17.05645179748535px;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(244, 244, 244, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.addgame-checkboxset8 {
  top: 241.3171844482422px;
  left: 14.113207817077637px;
  width: 17px;
  height: 17.05645179748535px;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(244, 244, 244, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.addgame-text06 {
  top: 241.94894409179688px;
  left: 46.188682556152344px;
  color: rgba(45, 34, 121, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Istok Web;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addgame-text08 {
  top: 195.8333282470703px;
  left: 46.188682556152344px;
  color: rgba(45, 34, 121, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Istok Web;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addgame-text10 {
  top: 195.8333282470703px;
  left: 46.188682556152344px;
  color: rgba(45, 34, 121, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Istok Web;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addgame-text12 {
  top: 104.86559295654297px;
  left: 46px;
  color: rgba(45, 34, 121, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Istok Web;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addgame-text14 {
  top: 288.06451416015625px;
  left: 46.188682556152344px;
  color: rgba(45, 34, 121, 1);
  width: 295px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Istok Web;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addgame-text16 {
  top: 59.38172149658203px;
  left: 46.188682556152344px;
  color: rgba(45, 34, 121, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Istok Web;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addgame-text18 {
  top: 150.34945678710938px;
  left: 46.188682556152344px;
  color: rgba(45, 34, 121, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Istok Web;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.addgame-scrollbar-frame {
  top: 45.4838752746582px;
  left: 366.94342041015625px;
  width: 7px;
  height: 235px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.addgame-scrollbar {
  top: 2px;
  left: 2px;
  width: 7px;
  height: 264px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(255, 255, 255, 0.14749999344348907);
  border-style: solid;
  border-width: 1px;
  border-radius: 3.5px;
}
.addgame-vector3 {
  top: 8px;
  left: 322px;
  width: 38px;
  height: 30px;
  position: absolute;
}
