.big-add-container {
  width: 646px;
  height: 629px;
  top: 30%;
  left: -200px;
  position: inherit;
  justify-content: center;
  align-items: center;
}
.big-add-add-pop-up {
  width: 100%;
  height: 625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.big-add-rectangle15 {
  top: 0px;
  left: 0px;
  width: 625px;
  height: 625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.big-add-rectangle14 {
  top: 0px;
  left: 0px;
  width: 625px;
  height: 625px;
  position: absolute;
  border-color: transparent;
  border-radius: 41px;
}
.big-add-text {
  top: 118px;
  left: 35px;
  color: rgba(45, 34, 121, 1);
  width: 555px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Sarala;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.big-add-screen-shot20221011at3472 {
  top: 18px;
  left: 35px;
  width: 555px;
  height: 83px;
  position: absolute;
  border-color: rgba(45, 34, 121, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.big-add-add-profile {
  top: 492px;
  left: 31px;
  width: 137px;
  height: 113px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.big-add-add-profile:hover{
  background-color: rgba(46, 34, 121, 0.439);
  border-radius: 10px;
}
.big-add-rectangle16 {
  top: 0px;
  left: 0px;
  width: 137px;
  height: 113px;
  position: absolute;
  border-color: rgba(45, 34, 121, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.big-add-text02 {
  top: 83px;
  left: 17px;
  color: rgba(45, 34, 121, 1);
  width: 103px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.big-add-i-m-a-g-e25selc9jemn411 {
  top: 9px;
  left: 28px;
  width: 82px;
  height: 82px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.big-add-description {
  top: 180px;
  left: 35px;
  width: 555px;
  height: 189px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.big-add-rectangle25 {
  top: 0px;
  left: 0px;
  width: 555px;
  height: 189px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.big-add-text07 {
  top: 4px;
  left: 4px;
  color: rgba(45, 34, 121, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.big-add-text09 {
  top: 4px;
  left: 4px;
  color: rgba(0, 0, 0, 1);
  width: 547px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.big-add-frame-t-a-g-box {
  top: 377px;
  left: 31px;
  width: 555px;
  height: 107px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.big-add-rectangle26 {
  top: 0px;
  left: 0px;
  width: 555px;
  height: 107px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.big-add-text11 {
  top: 22px;
  left: 7px;
  color: rgba(45, 34, 121, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.big-add-rectangle27 {
  top: 20%;
  left:20%;
  position:absolute;
}
.rectangle1{
  border-color: rgba(45, 34, 121, 1);
  border-width: 3px;
  top: 12px;
  left: 54px;
  width: 100px;
  height: 36px;
  position: absolute;
  border-radius: 10px;
}
.rectangle2{
  border-color: rgba(45, 34, 121, 1);
  border-width: 3px;
  top: 59px;
  left: 54px;
  width: 100px;
  height: 36px;
  position: absolute;
  border-radius: 10px;
}
.rectangle3{
  border-color: rgba(45, 34, 121, 1);
  border-width: 3px;
  top: 59px;
  left: 186px;
  width: 100px;
  height: 36px;
  position: absolute;
  border-radius: 10px;
}
.rectangle4{
  border-color: rgba(45, 34, 121, 1);
  border-width: 3px;
  top: 12px;
  left: 186px;
  width: 100px;
  height: 36px;
  position: absolute;
  border-radius: 10px;
}

.big-add-rectangle32 {
  top: 20%;
  left:20%;
  position:absolute;

}
.big-add-rectangle33 {
  top: 20%;
  left:15%;
  position:absolute;

}
.big-add-rectangle30 {
  top: 20%;
  left:20%;
  position:absolute;

}
.big-add-framebasic-outlinemedium-base {
  top: 525px;
  left: 438px;
  width: auto;
  height: 48px;
  display: flex;
  padding: 12px 24px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(45, 34, 121, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  flex-direction: column;
}
.big-add-framebasic-outlinemedium-base:hover{
  background-color: rgba(45, 34, 121, 1);
}
.big-add-framebasic-outlinemedium-base:hover .big-add-text13{
  position: inherit;
  left: 10px;
  color:white;
}
.big-add-content {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.big-add-text13 {
  color: rgba(45, 34, 121, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  text-decoration: none;
}
.big-add-iconmedium {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.big-add-icon {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.big-add-basic-outline-button {
  top: 527px;
  left: 304.5px;
  width: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.big-add-framebasic-outlinemedium-base1:hover{
  background-color: rgba(45, 34, 121, 1);
}
.big-add-framebasic-outlinemedium-base1:hover .big-add-text15{
  color:white;
}
.big-add-framebasic-outlinemedium-base1 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(45, 34, 121, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  flex-direction: column;
}
.big-add-content1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.big-add-text15 {
  color: rgba(45, 34, 121, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.big-add-text17 {
  top: 582px;
  left: 361px;
  color: rgba(5, 0, 255, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Sumana;
  font-weight: 400;
  line-height: 12px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.big-add-text17{
  color:blueviolet;
}

.test1{
  background-color: blue;
}

.test2{
  background-color: green;
}