.menue-container {
  width: 353px;
  height: 1086px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.menue-menu {
  width: 100%;
  height: 1080px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.menue-rectangle12 {
  top: 0px;
  left: 0px;
  width: 358px;
  height: 1080px;
  position: absolute;
  border-color: transparent;
}
.menue-main-button {
  top: 220px;
  left: 39px;
  width: 280px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.menue-main-button:hover .menue-text{
  font-size: 27px;
}
.menue-rectangle20 {
  top: 0px;
  left: 0px;
  width: 280px;
  height: 64px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.menue-frameiconhome {
  top: 3px;
  left: 11px;
  width: 49.71428680419922px;
  height: 58px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.menue-vector {
  top: 0px;
  left: 0px;
  width: 50px;
  height: 58px;
  position: absolute;
}
.menue-text {
  top: 16px;
  left: 101px;
  color: rgba(45, 34, 121, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.menue-post-button {
  top: 435px;
  left: 39px;
  width: 280px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.menue-post-button:hover .menue-text02{
  font-size: 27px;
}
.menue-rectangle17 {
  top: 0px;
  left: 0px;
  width: 280px;
  height: 64px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.menue-text02 {
  top: 16px;
  left: 101px;
  color: rgba(45, 34, 121, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.menue-frameiconcompose {
  top: 3px;
  left: 11px;
  width: 58px;
  height: 58px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.menue-vector1 {
  top: 0px;
  left: 0px;
  width: 58px;
  height: 58px;
  position: absolute;
}
.menue-message-button {
  top: 328px;
  left: 39px;
  width: 280px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.menue-message-button:hover .menue-text04{
  font-size: 27px;
}
.menue-rectangle19 {
  top: 0px;
  left: 0px;
  width: 280px;
  height: 64px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.menue-text04 {
  top: 16px;
  left: 101px;
  color: rgba(45, 34, 121, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.menue-text06 {
  top: 16px;
  left: 101px;
  color: rgba(45, 34, 121, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.menue-text08 {
  top: 16px;
  left: 101px;
  color: rgba(45, 34, 121, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.menue-frameiconmessage {
  top: 5px;
  left: 11px;
  width: 64.95999908447266px;
  height: 58px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.menue-vector2 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 58px;
  position: absolute;
}
.menue-contact-us-button {
  top: 894px;
  left: 39px;
  width: 280px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.menue-rectangle21 {
  top: 0px;
  left: 0px;
  width: 280px;
  height: 64px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.menue-frameiconinfo {
  top: 2px;
  left: 4px;
  width: 60px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.menue-vector3 {
  top: 12.857165336608887px;
  left: 26.000051498413086px;
  width: 10px;
  height: 32px;
  position: absolute;
}
.menue-vector4 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.menue-text10 {
  top: 15px;
  left: 101px;
  color: rgba(45, 34, 121, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.menue-sign-out-button {
  top: 977px;
  left: 39px;
  width: 280px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.menue-rectangle201 {
  top: 0px;
  left: 0px;
  width: 280px;
  height: 64px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.menue-frameiconsignin {
  top: 2px;
  left: 4px;
  width: 65px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.menue-vector5 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 60px;
  position: absolute;
}
.menue-text12 {
  top: 16px;
  left: 101px;
  color: rgba(45, 34, 121, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.menue-text17 {
  color: rgba(217, 217, 217, 1);
  width: 358px;
  height: auto;
  position: absolute;
  font-size: 120px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Russo One;
  font-weight: 400;
  line-height: 120px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.menue-line1 {
  top: 187px;
  left: 0px;
  width: 358px;
  height: 0px;
  position: absolute;
}
.menue-account {
  top: 557px;
  left: 39px;
  width: 280px;
  height: 280px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.menue-text19 {
  top: 226.11683654785156px;
  left: 55.807559967041016px;
  color: rgba(217, 217, 217, 1);
  width: 157px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.menue-rectangle22 {
  top: 0px;
  left: 0px;
  width: 280px;
  height: 280px;
  position: absolute;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
}
.menue-ssc1e38723a15f3f8659e5a14b2194cdf1692f2cb51 {
  top: 18px;
  left: 45px;
  width: 190px;
  height: 190px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}

.menue-home-page{
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 2;
  visibility: hidden;
}
.menue-contact-us-button:hover .menue-text10{
  font-size: 27px;
}

.menue-sign-out-button:hover .menue-text12{
  font-size: 27px;
}
.menue-account:hover{
  background-color: rgba(217, 217, 217, 0.521);
}
.menue-account:hover .menue-text19{
  font-size: 27px;  
}